@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

:root {
    --color-black: 51, 51, 51;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}